#login{
	background: url('images/00003.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#main_page{
	background: url('images/00004.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#hotel_page{
	background: url('images/00003.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#hotel{
	background: url('images/00003.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}